@font-face {
	font-family: BYekan;
	src: url(fonts/BYekan.eot), url(fonts/BYekan.woff), url(fonts/BYekan.ttf);
}
body {
	direction: rtl;
	font-family: BYekan;
	background-color: azure;
}
h1, h2, h3 {
	text-align: center;
}
h1 {
	color: blue;
}
p {
	color: red;
	font-size: 18px;
 border=2px;
}
input {
	font-family: BYekan;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
input[type=text] {
	border-bottom: 2px solid red;
	border-radius: 4px;
	background-color: powderblue;
	color: black;
}
input[type=text]:focus {
	border: 3px solid #555;
}
input[type=button], input[type=submit], input[type=reset] {
	width: 14%;
	background-color: green;
	border: none;
	color: white;
	padding: 12px 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	margin: 10px;
	border-radius: 8px;
}
table {
	font-family: BYekan;
	font-size: 18px;
}
td {
	width:150px;
}
.byekan {
	font-family: BYekan;
}
