@font-face {
    font-family: BYekan;
    src:url(fonts/BYekan.eot),
	url(fonts/BYekan.woff),
	url(fonts/BYekan.ttf); 
}

body {
	font-family:BYekan;
	background-color: azure;
}

h1 {
	color: blue;
}

p {
	color: red;
	font-size:24px;
	border=2px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
	width: 50%;
}

input[type=text] {
    border-bottom: 2px solid red;
    border-radius: 4px;
	background-color: powderblue;
    color: black;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
	width:20%;
    background-color: green;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-size: 32px;
}

table {
	font-family:BYekan;
	font-size: 24px;
}

.byekan {
	font-family: BYekan;
}